ul {
  background-color: #f88e06;
    display: flex;
  justify-content: flex-end;
  list-style-type: none;
}

ul li a {
  color: #ffffff;
    display: block;
  font-size: 1.6rem;
  padding: 1.5rem 1.6rem;
  text-decoration: none;
  transition: all, 0.1s;
}

a:link, a:visited, a:hover, a:active {
  color: #ffffff;
    text-decoration: none;
}

ul li a:hover {
  background-color: #da9016;
    color: #ffffff;
}

.errorFrame {
  background-color:rgba(255, 0, 0, 0.2);
  font-size: 12px;
  border-style: solid;
  border-color: #ff0000;
  width:600px;
}

.errorText {
  margin-left: 30px;
}

.comparisonPlotNoteFrame {
  background-color:rgba(255, 247, 0, 0.2);
  font-size: 12px;
  border-style: solid;
  border-color: #fff700;
  width:750px;
}

.comparisonPlotNote {
  margin-left: 30px;
}

.SmallTitleText {
  font-size: 20px;
}