html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0 0 100px;
    /* bottom = footer height */
    padding: 25px;
}

ul {
  background-color: #f88e06;
    display: flex;
  justify-content: flex-end;
  list-style-type: none;
}

.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 100px;
  width: 100%;
  background-color: #f88e06;
    display: flex;
  justify-content: flex-start;
  list-style-type: none;
}

ul li a {
  color: #ffffff;
    display: block;
  font-size: 1.6rem;
  padding: 1.5rem 1.6rem;
  text-decoration: none;
  transition: all, 0.4s;
}

a:link, a:visited, a:hover, a:active {
  color: #ffffff;
    text-decoration: none;
}

ul li a:hover {
  background-color: #da9016;
    color: #ffffff;
}

.errorFrame {
  background-color:rgba(255, 0, 0, 0.2);
  font-size: 12px;
  border-style: solid;
  border-color: #ff0000;
  width:600px;
}

.errorText {
  margin-left: 30px;
}

.comparisonPlotNoteFrame {
  width:750px;
}

.fcTableNoteFrame {
  width:600px;
}

.NoteFrame {
  background-color:rgba(255, 247, 0, 0.2);
  font-size: 13px;
  border-style: solid;
  border-color: #fff700;
}

.NoteContent {
  margin-left: 30px;
  margin-right: 15px;
}

.SmallTitleText {
  font-size: 20px;
}

.DLButton {
  background-color: #f88e06;
  color: white;
  transition-duration: 0.4s;
}

.DLButton:hover {
  background-color: #da9016;
  color: white;
}